<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../static/css/style_Sign In.css">
</head>

<body>
    <br><br>
    <form action="home.html" method="post">
        <div class="blurry-background"></div>
        <div class="content">
            <div id="login-form-wrap">
                <h2>Registration</h2>
                <form id="login-form" action="../index.html" method="post">
                    <p>
                        <input type="text" id="username" name="uname" placeholder="Username" required>
                        <i class="validation"><span></span><span></span></i>
                    </p>
                    <p>
                        <input type="text" id="fullname" name="fname" placeholder="Full Name" required>
                        <i class="validation"><span></span><span></span></i>
                    </p>
                    <p>
                        <input type="email" id="email" name="psw2" placeholder="Email Address" required>
                        <i class="validation"><span></span><span></span></i>
                    </p>
                    <p>
                        <input type="password" id="password" name="psw" placeholder="Password" required>
                        <i class="validation"><span></span><span></span></i>
                    </p>
                    <p>
                        <input type="text" id="phonenumber" name="psw1" placeholder="Phone Number" required>
                        <i class="validation"><span></span><span></span></i>
                    </p>
                    <p>
                        <input type="text" id="address" name="adname" placeholder="Address" required>
                        <i class="validation"><span></span><span></span></i>
                    </p>
                    <p>
                        <input type="submit" id="register" value="Register">
                    </p>
                </form>
                <div id="create-account-wrap">
                    <p>Already a member? <a href="Sign In.html">Login here</a></p>
                </div>
            </div>
        </div>
    </form>
</body>

</html>
