<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="../static/css/style_Sign In.css">

</head>
<body>
  <br><br>
<!-- partial:index.partial.html -->
<form action="home.html" method="post">
  <div class="blurry-background"></div>
<div class="content">
<div id="login-form-wrap">
  <h2>Login</h2>
  <form id="login-form" action="home.html" method="post">
    <p>
    <input type="text" id="username" name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="email" id="email" name="email" placeholder="Email Address" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input  type="submit" id="login" value="Login">
    </p>
    
  </form>
  <div id="create-account-wrap">
    <p>Not a member? <a href="Sign Up.html">Create Account</a><p>
  </div><!--create-account-wrap-->
</div><!--login-form-wrap-->
</div>
<!-- partial -->
  </form>
</body>
</html>
